= render "shared/header"
- breadcrumb :index_credit_card
%nav.bread-crumbs
  = breadcrumbs separator: " #{content_tag(:i, '', :class=>'fa fa-angle-right')} "
= render 'layouts/notifications'
.mypage
  %main.mypage__body.clearfix
    .mypage__body__main
      %section.payment-method
        %h2.payment-method__title 支払い方法
        .payment-method__content
          - if @card.present?
            %section
              .payment-method__content__head
                %h3.payment-method__content__head__title
                  クレジットカード一覧
                  %ul.payment-method__content__list
                    %li
                      .setting-card
                        %figure
                          = render 'shared/card-images'
                        .setting-card__payment-num
                          = "************" + @card.last4
                        .setting-card__payment-num
                          = "0#{@card.exp_month} / #{@card.exp_year.to_s.slice(0..1).to_i}"
                        = link_to "削除する", "/users/#{params[:user_id]}/credit_card/#{@credit_info.id}", method: :delete, class: "setting-card__payment-remove"

          - else
            %section.payment-method__content__add
              .payment-method__content__add__box
                = link_to "/users/#{params[:user_id]}/credit_card/new", class: "payment-method__content__add__box__btn-red" do
                  = fa_icon "credit-card"
                  クレジットカードを追加する
            .payment-method__content__explanation
              = link_to "https://www.mercari.com/jp/help_center/category/6/" do
                %span 支払い方法について
                = fa_icon "angle-right"

    = render "shared/mypage-sidebar"

= render 'shared/appbanner'

= render 'shared/footer'

= render 'shared/sellbtn'
