= render "shared/header"

%nav.bread-crumbs

.mypage
  %main.mypage__body.clearfix
    .mypage__body__main
      %h2.mypage__body__main__title プロフィール
      %form{action: "#", method: "POST"}
        %input{name: "#", type: "hidden", value: "user_id?"}/
        .mypage__body__main__user-name
          %figure
            = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", alt: "ユーザーアイコン", height: "60", width: "60"
          %input.mypage__body__main__user-name__input{name: "nickname", placeholder: "例) 『遊戯王』真崎杏子", type: "text", value: ""}/
        .mypage__body__main__profile
          %textarea.mypage__body__main__profile__input{name: "introduction", placeholder: "例）「次回、『城之内 死す』。デュエルスタンバイ！」"}
          %input{name: "after_save_callback", type: "hidden", value: "#"}/
          %button.mypage__body__main__profile__btn-red{type: ""} 変更する

    = render "shared/mypage-sidebar"

= render 'shared/appbanner'

= render 'shared/footer'

= render 'shared/sellbtn'
