.single-container
  = render 'shared/logo-header'
  %main.single-main
    %section.l-single-container
      %h2.l-single-head 新規会員登録
      .l-single-inner
        .l-single-content
          = link_to new_user_registration_path, class: "btn-default btn-mail" do
            %i.icon-mail
            メールアドレスで登録
          %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
            = link_to "Facebookで登録", user_facebook_omniauth_authorize_path, class: 'btn-default btn-sns-facebook'
            %i.fab.fa-facebook.fa-2x
          %button#google-login.btn-default.btn-sns.btn-sns-google
            = link_to "Googleで登録", user_google_oauth2_omniauth_authorize_path, class: 'btn-default btn-sns-google'
            %i.fab.fa-google.fa-2x
  = render 'shared/logo-footer'
