= render 'shared/header'
- breadcrumb :published_user
.mypage
  %nav.bread-crumbs
    = breadcrumbs separator: " #{content_tag(:i, '', :class=>'fa fa-angle-right')} "
  %main.mypage__body.clearfix
    .mypage__body__main
      %section.users-products-box
        %h1.users-products-box__title
          出品した商品
        %main.users-products-box__main
          .product-status-columns.clearfix
            = link_to "出品中", published_user_path(current_user.id), class: "product-status-columns__column product-status-columns__column--active"
            = link_to "取引中", trading_user_path(current_user.id), class: "product-status-columns__column"
            = link_to "売却済み", sold_user_path(current_user.id), class: "product-status-columns__column"
          .publised-products
            = render partial: 'product', collection: @products
    = render 'shared/mypage-sidebar'

  %aside.app-banner

    = render 'shared/appbanner'

  %footer.footerAll

    = render 'shared/footer'
