.mypage-top
  %header
    = render "/shared/header"

  %nav.bread-crumbs

  %main.content.clearfix

    .content__right
      %section.mypage-user-icon
        = link_to ""
        %a{href: "ユーザープロフィールページへ"}
          %figure
            = image_tag "icon.png", alt: 'ユーザーアイコン'
          %h2.bold ユーザー名
          .mypage-number
            %p
              評価
              %span 0
            %p.right
              出品数
              %span 0

      %section.mypage-tab-notification-todo
        %ul.mypage-tabs
          %li.active
            %h3
              %a{:href => ""}
                お知らせ
          %li
            %h3
              %a{:href => ""}
                やることリスト
        .tab-content
          %ul.notification-list
            %li
              %a.notification-list__link{:href => ""}
                %figure
                  %img.file{:alt => "", "data-src" => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", :src => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png"}/
                .notification-list__body
                  .notification-list__body__text【7日間限定】10人に1人最大P6,000もらえるキャンペーン開始
                  %time
                    = fa_icon "clock-o"
                    %span 22 時間前
                = fa_icon "angle-right"
            %li
              %a.notification-list__link{:href => ""}
                %figure
                  %img.file{:alt => "", "data-src" => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", :src => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png"}/
                .notification-list__body
                  .notification-list__body__text 事務局から個別メッセージ「ログイン通知」
                  %time
                    = fa_icon "clock-o"
                    %span 1 日前
                = fa_icon "angle-right"
            %li
              %a.notification-list__link{:href => "https://www.mercari.com/jp/mypage/news/"}
                %figure
                  %img.file{:alt => "", "data-src" => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", :src => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png"}/
                .notification-list__body
                  .notification-list__body__text 事務局から個別メッセージ「ログイン通知」
                  %time
                    = fa_icon "clock-o"
                    %span 1 日前
                = fa_icon "angle-right"
            %li
              %a.notification-list__link{:href => "https://www.mercari.com/jp/mypage/news/"}
                %figure
                  %img.file{:alt => "", "data-src" => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", :src => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png"}/
                .notification-list__body
                  .notification-list__body__text 事務局から個別メッセージ「【重要】新サービス開始に伴う利用規約改訂のお知らせ」
                  %time
                    = fa_icon "clock-o"
                    %span 16 日前
                = fa_icon "angle-right"
            %li
              %a.notification-list__link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
                %figure
                  %img.file{:alt => "", "data-src" => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", :src => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png"}/
                .notification-list__body
                  .notification-list__body__text 【あと3日】対象カテゴリーが売れたら“必ず“ポイントがもらえるキャンペーン開催中
                  %time
                    = fa_icon "clock-o"
                    %span 21 日前
                = fa_icon "angle-right"
            %li.notification-list__all
              %a{:href => "お知らせ一覧へ"} 一覧を見る

      %section.mypage-tab-trading-traded
        %h2.mypage-tab-head 購入した商品
        %ul.mypage-tabs
          %li.active
            %h3
              %a{:href => ""}
                取引中
          %li
            %h3
              %a{:href => ""}
                過去の取引
        .tab-content
          .traded-list
            %figure
              %img.file{:alt => "", "data-src" => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", :src => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png"}/
            .traded-list__not-found 取引中の商品がありません


    .content__left
      = render "shared/content-left"

  %footer
    = render "shared/footer"
