= render 'shared/header'

.mypage

  %nav.bread-crumbs

  %main.mypage__body.clearfix

    .mypage__body__main
      %section.signout
        %nav.signout__box
          %h6
            = link_to destroy_user_session_path, method: :delete do
              ログアウト

    = render 'shared/mypage-sidebar'

  %aside.app-banner

    = render 'shared/appbanner'

  %footer.footerAll

    = render 'shared/footer'
