.single-container
  = render 'shared/logo-header'
  %main.single-main
    %section.l-single-container.buy-item-container
      %h2.creditcard-form__title
        支払い方法
      = form_tag( "/users/#{current_user.id}/credit_card", method: "POST", class: "creditcard-form__body", id:"add-card" ) do 
        - if @card 
          %section
            .purchase-method-header
              %h3.purchase-method-header__title 
                クレジットカード一覧
            %ul.payment-method__content__list
              %li
                .setting-card
                  %figure
                    = render 'shared/card-images'
                  .setting-card__payment-num 
                    = "************" + @card.last4
                  .setting-card__payment-num 
                    = "0#{@card.exp_month} / #{@card.exp_year.to_s.slice(0..1).to_i}"
          
        - else
          .creditcard-form__container
            .form-group-card-num
              %label.form-group-card-num__label カード番号
              %span.form-group-card-num__badge
                必須
              = text_field :name, '', maxlength:'16', class:'form-group-card-num__input', id:'payment_card_no', placeholder:'半角数字のみ'
              %ul.form-group-card-num__card-lists.clearfix
                %li.card-list
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2845599746", class: "card-list__image"
                %li.card-list
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2845599746", class: "card-list__image"
                %li.card-list
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?2845599746", class: "card-list__image"
                %li.card-list
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2845599746", class: "card-list__image"
                %li.card-list
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?2845599746", class: "card-list__image"
                %li.card-list
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?2845599746", class: "card-list__image"
                %li.card-list
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?2845599746", class: "card-list__image"
            .form-group-card-expire
              %label.form-group-card-expire__label
                有効期限
              %span.form-group-card-expire__badge
                必須
              .form-group-card-expire__wrap
                = select_tag('exp_month', options_for_select((01...13)), id:"payment_card_expire_mm", class:"form-group-card-expire__input select-default")
                %span
                  月
              .form-group-card-expire__wrap
                = select_tag('exp_year', options_for_select((DateTime.now.year..2029)), id:"payment_card_expire_yy", class:"form-group-card-expire__input select-default") 
                %span
                  年
            .form-group-card-code
              %label.form-group-card-code__label
                セキュリティコード
              %span.form-group-card-code__badge
                必須
              %input.form-group-card-num__input#security_code{ name: "cvc", type:"text", placeholder:"カード背面4桁もしくは3桁の番号", maxlength: "3" }
              .form-group-card-code__explain
                %span.form-group-card-code__explain--question
                  ?
                カード裏面の番号とは
              .form-group-card-code__is-show-wrap#securityCode-modal
                .form-group-card-code__is-show
                  カードの裏面をご参照ください。
                  %br/
                  %img.form-group-card-code__is-show--image{ src: "//www-mercari-jp.akamaized.net/assets/img/signup/seq-card.png?2845599746" }
        = button_tag "次へ進む", {class:"form-group-card-submit"}
        = link_to "次へ進む",  new_product_purchase_path(params[:product_id]), class:"form-group-card-submit"

= render 'shared/logo-footer'








