.single-container
  = render 'shared/logo-header'
  %main.single-main
    %section.l-single-container.buy-item-container
      %h2.l-single-head 購入を確定しますか？
      %section.buy-content.buy-item
        .buy-content-inner
          %h3.buy-item-image
            %img.lazyload{:alt => "div", :src => "https://eiga.k-img.com/images/person/61029/300x.jpg",:width => "160", :height => "160"}/
          %p.buy-item-name.bold 死神の遺言
          %form.buy-form{:action => "＃＃", :method => "POST", :novalidate => "novalidate"}
            %p.buy-price-ja.bold
              ¥ 1919
              %span.item-shipping-fee.f14.bold 送料込み
            %ul.buy-accordion.not-have
              %li.accordion-parent
                .accordion-toggle
                  ポイントはありません
            %ul.buy-price-table
              %li.buy-price-row.buy-you-pay.bold
                .buy-price-cell 支払い金額
                .buy-price-cell
                  %span{"data-buy-pay" => "980"} ¥ 1919

            %button.btn-default.btn-red.bold{:type => "submit"} 購入する
      %section.buy-content.buy-user-info
        .buy-content-inner
          %h3 配送先
          %address.buy-user-info-text
            〒144-0052
            %br/
            東京都 大田区 多摩川 土手 114-514
            %br/
            ピェェヌ ぬき
          %p.buy-user-info-text
          = link_to  new_user_profile_path(current_user.id) , class: "buy-user-info-fix" do
            %span 変更する
            = fa_icon 'angle-right'
      %section.buy-content.buy-user-info{"data-buy" => "pay-method"}
        .buy-content-inner
          %h3 支払い方法
          -if @card 
            %p.buy-user-info-text
              = "************" + "#{@card.last4}"
              %br/
              = "#{@card.exp_month} / #{@card.exp_year.to_s.slice(0..1).to_i}"
            %figure
              - if @card.brand == "Visa"
                = image_tag("//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3703848211", alt: "visa", height: "19", width: "49")
              - elsif @card.brand == "MasterCard"
                = image_tag("//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3703848211", alt: "master", height: "30", width: "49")
              - elsif @card.brand == "Discover"
                = image_tag("//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?3703848211", alt: "discover", height: "30", width: "49")
              - elsif @card.brand == "American Express"
                = image_tag("//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?3703848211", alt: "american", height: "30", width: "49")
              - elsif @card.brand == "JCB"
                = image_tag("//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?3703848211", alt: "jcb", height: "30", width: "49")
              - elsif @card.brand == "Diners Club"
                =  image_tag("//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?3703848211", alt: "jcb", height: "30", width: "49")
              - else
                = image_tag("//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?3703848211", alt: "saison", height: "30", width: "49")
          - else
            %p.buy-user-info-text
              %br/
              \/
          %p
          = link_to card_product_purchases_path(params[:product_id]), class: "buy-user-info-fix" do
            %span 変更する
            = fa_icon 'angle-right'
  = render 'shared/logo-footer'
