%header.pc-header
  .pc-header__inner
    %h1.logo-left
      = link_to root_path do
        = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1445690901")
      = form_tag(root_path, method: :get,class: "pc-header__form",enforce_utf8: false ) do
        %input.input-default{:name => "keyword", :placeholder => "キーワードから探す", :type => "search", :value => ""}/
        %i.fas.fa-search
    .pc-header__navbox
      .dropbox
        %ul.pc-header__nav
          %li
            %h2
              = link_to root_path ,class: "pc-header__nav-root" do
                カテゴリーから探す
          %li
            %h2
              = link_to root_path ,class: "pc-header__nav-root" do
                ブランドから探す

      .loginRegister
        %ul.pc-header__login-nav
        - if user_signed_in?
          %li
            = link_to user_path(current_user.id), class: "pc-header-nav-root" do
              マイページ
          %li
            = link_to destroy_user_session_path, method: :delete,class: "pc-header-logout" do
              ログアウト
        - else
          %li
            = link_to new_user_session_path, class: "pc-header__btn--btn-red" do
              ログイン
          %li
            = link_to new_user_path, class: "pc-header__btn--signup" do
              新規会員登録
