.default-container

  = render 'shared/header'

  %main.white{:role => "main"}
    .owl-item.active
      = link_to "", "#", class: "header-banner"
    %section.pickup-container
      %h2.pickup-head ピックアップカテゴリー
      %section.items-box-container.clearfix
        %h3.items-box-container__title
          = link_to "レディース 新着アイテム", "/brands/1"
        .items-box-content.clearfix
          - 4.times do
            = render 'product'
        .view-all
          = link_to "すべての商品を見る", "/brands/1"
      %section.items-box-container.clearfix
        %h3.items-box-container__title
          = link_to "メンズ 新着アイテム", "/brands/1"
        .items-box-content.clearfix
          - 4.times do
            = render 'product'
        .view-all
          = link_to "すべての商品を見る", "/brands/1"
      %section.items-box-container.clearfix
        %h3.items-box-container__title
          = link_to "ベビー・キッズ 新着アイテム", "/brands/1"
        .items-box-content.clearfix
          - 4.times do
            = render 'product'
        .view-all
          = link_to "すべての商品を見る", "/brands/1"
      %section.items-box-container.clearfix
        %h3.items-box-container__title
          = link_to "コスメ・香水・美容 新着アイテム", "/brands/1"
        .items-box-content.clearfix
          - 4.times do
            = render 'product'
        .view-all
          = link_to "すべての商品を見る", "/brands/1"
      %h2.pickup-head ピックアップブランド
      %section.items-box-container.clearfix
        %h3.items-box-container__title
          = link_to "シャネル 新着アイテム", "/brands/1"
        .items-box-content.clearfix
          - 4.times do
            = render 'product'
        .view-all
          = link_to "すべての商品を見る", "/brands/1"
      %section.items-box-container.clearfix
        %h3.items-box-container__title
          = link_to "ルイ ヴィトン 新着アイテム", "/brands/1"
        .items-box-content.clearfix
          - 4.times do
            = render 'product'
        .view-all
          = link_to "すべての商品を見る", "/brands/1"
      %section.items-box-container.clearfix
        %h3.items-box-container__title
          = link_to "シュプリーム 新着アイテム", "/brands/1"
        .items-box-content.clearfix
          - 4.times do
            = render 'product'
        .view-all
          = link_to "すべての商品を見る", "/brands/1"
      %section.items-box-container.clearfix
        %h3.items-box-container__title
          = link_to "ナイキ 新着アイテム", "/brands/1"
        .items-box-content.clearfix
          - 4.times do
            = render 'product'
        .view-all
          = link_to "すべての商品を見る", "/brands/1"

  = render 'shared/appbanner'

  = render 'shared/footer'

  = render 'shared/sellbtn'
