.default-container

  = render 'shared/header'

  %section
    .top-appbanner
      .top-appbanner__slides
        %div
          .top-appbanner__slides--inner-left
            %h2
              スマホでかんたん
              %br
              フリマアプリ
            %p
              メルカリはスマホカメラからすぐに出品できる
              %br
              購入時も安心な独自システムのアプリです
            .storelogo
              = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8" do
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?4136293187"
              = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja" do
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?4136293187"
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?4136293187",class: "iphone-picture"
      .top-appbanner__slides--newlife
        = link_to "",root_path,class: "top-banner banner-new-life"
      .top-appbanner__slides--heisei
        = link_to "",root_path,class: "top-banner banner-bokurano-heisei"
  %section.pickup-container
    %h2.pickup-head ピックアップカテゴリー
    %section.items-box-container.clearfix
      %h3.items-box-container__title
        = link_to "#{@ladies.name} 新着アイテム", category_path(@ladies.id)
      .items-box-content.clearfix
        = render partial: "product", collection: @ladies_item
      .view-all
        = link_to "すべての商品を見る", category_path(@ladies.id)
    %section.items-box-container.clearfix
      %h3.items-box-container__title
        = link_to "#{@mens.name} 新着アイテム", category_path(@mens.id)
      .items-box-content.clearfix
        = render partial: "product", collection: @mens_item
      .view-all
        = link_to "すべての商品を見る", category_path(@mens.id)
    %section.items-box-container.clearfix
      %h3.items-box-container__title
        = link_to "#{@baby.name} 新着アイテム", category_path(@mens.id)
      .items-box-content.clearfix
        = render partial: "product", collection: @baby_item
      .view-all
        = link_to "すべての商品を見る", category_path(@mens.id)
    %section.items-box-container.clearfix
      %h3.items-box-container__title
        = link_to "#{@cosme.name} 新着アイテム", category_path(@mens.id)
      .items-box-content.clearfix
        = render partial: "product", collection: @cosme_item
      .view-all
        = link_to "すべての商品を見る", category_path(@mens.id)
    %h2.pickup-head ピックアップブランド
    %section.items-box-container.clearfix
      %h3.items-box-container__title
        = link_to "#{@chanel.name} 新着アイテム", brand_path(@chanel.id)
      .items-box-content.clearfix
        = render partial: "product", collection: @chanel_item
      .view-all
        = link_to "すべての商品を見る", brand_path(@chanel.id)
    %section.items-box-container.clearfix
      %h3.items-box-container__title
        = link_to "#{@vuitton.name} 新着アイテム", brand_path(@vuitton.id)
      .items-box-content.clearfix
        = render partial: "product", collection: @vuitton_item
      .view-all
        = link_to "すべての商品を見る", brand_path(@vuitton.id)
    %section.items-box-container.clearfix
      %h3.items-box-container__title
        = link_to "#{@supreme.name} 新着アイテム", brand_path(@supreme.id)
      .items-box-content.clearfix
        = render partial: "product", collection: @supreme_item
      .view-all
        = link_to "すべての商品を見る", brand_path(@supreme.id)
    %section.items-box-container.clearfix
      %h3.items-box-container__title
        = link_to "#{@nike.name} 新着アイテム", brand_path(@nike.id)
      .items-box-content.clearfix
        = render partial: "product", collection: @nike_item
      .view-all
        = link_to "すべての商品を見る", brand_path(@nike.id)

  = render 'shared/appbanner'

  = render 'shared/footer'

  = render 'shared/sellbtn'
