.single-container
  = render 'shared/logo-header'
  %main.single-main
    %section.l-single-container.buy-item-container
      #sell-container
      %div{"data-reactroot" => ""}
        .sell-container-inner
          %h2.l-single-head 商品の情報を入力
          = form_for @product, html: {class: "sell-form"} do |f|
            .sell-upload-box
              %h3.sell-upload-head
                出品画像
                %span.form-require 必須
              %p 最大10枚までアップロードできます

              .sell-dropbox-container.clearfix.state-image-number-10
                .sell-upload-drop-box.have-item-0
                  %pre.visible-pc ドラッグアンドドロップまたはクリックしてファイルをアップロード
                  %i.icon-camera
                  %input.sell-upload-drop-file{ type: "file",multiple: "multiple", name: "prdoduct[product_images][]" }
                .sell-upload-items-container
                  .sell-upload-items.have-item-0
                    %ul.sell-upload-files
            .sell-content
              .form-group
                = f.label :name do
                  商品名
                  %span.form-require 必須
                %div
                  = f.text_field :name, class: "input-default", placeholder: "商品名（必須 40文字まで)"
              .form-group
                = f.label :description do
                  商品の説明
                  %span.form-require 必須
                = f.text_area :description, class: "textarea-default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"
            .sell-content.clearfix
              %h3.sell-sub-head 商品の詳細
              .sell-form-box
                .form-group
                  %label
                    カテゴリー
                    %span.form-require 必須
                  %div
                    .select-wrap
                      = collection_select :category, :main_category, Category.main_category, :id, :name, {prompt: "---"}, {class: "select-default", id: "main_category_form"}
                    .select-wrap
                      %select#sub_category_form.select-default.hidden
                    .select-wrap
                      = f.select :category_id, {}, {}, {class: "select-default hidden", id: "category_form"}
                .form-group
                  = f.label :product_size_id do
                    サイズ
                    %span.form-require 必須
                  .select-wrap
                    = f.collection_select :product_size_id, ProductSize.all, :id, :size, {prompt: "---"}, {class: "select-default"}
                .form-group
                  = f.label :brand do
                    ブランド
                    %span.form-any 任意
                  .select-wrap
                    = f.collection_select :brand_id, Brand.all {}, :id, :name, {prompt: "---"}, {class: "select-default"}
                .form-group
                  = f.label :condition do
                    商品の状態
                    %span.form-require 必須
                  .select-wrap
                    = f.select :condition, Product.conditions.keys.to_a {}, {prompt: "---"}, {class: "select-default"}
            .sell-content.clearfix
              %h3.sell-sub-head 配送について
              %span.fas.fa-question-circle.blue-icon
              .sell-form-box
                .form-group
                  = f.label :shipping_method do
                    配送料の負担
                    %span.form-require 必須
                  .select-wrap
                    = f.select :shipping_method, Product.shipping_methods.keys, {prompt: "---"}, {class: "select-default", id: "shipping_method_form"}
                .form-group.hidden#shipping_burden_form_div
                  = f.label :shipping_burden do
                    配送の方法
                    %span.form-require 必須
                  .select-wrap
                    = f.select :shipping_burden, Product.shipping_burdens.keys {}, {prompt: "---"}, {class: "select-default", id: "shipping_burden_form"}
                .form-group
                  = f.label :collection_select do
                    発送元の地域
                    %span.form-require 必須
                  .select-wrap
                    = f.collection_select :area_id, Area.all {}, :id, :prefecture, {prompt: "---"}, {class: "select-default"}
                .form-group
                  = f.label :estimated_date do
                    発送までの日数
                    %span.form-require 必須
                  .select-wrap
                    = f.select :estimated_date, Product.estimated_dates.keys {}, {prompt: "---"}, {class: "select-default"}
            .sell-content.clearfix
              %h3.sell-sub-head 販売価格(300〜9,999,999)
              %span.fas.fa-question-circle.blue-icon
              .sell-form-box
                %ul.sell-price
                  %li.form-group
                    .clearfix
                      = f.label class: "l-left" do
                        価格
                        %span.form-require 必須
                      .l-right.sell-price-input
                        ¥
                        %div
                          = f.text_field :price, class: "input-default sell-price-form", placeholder: "例）300"
                  %li.clearfix
                    .l-left
                      販売手数料 (10%)
                    .l-right.sales-fee
                      ー
                  %li.clearfix.bold
                    .l-left
                      販売利益
                    .l-right.profit
            .modal{:role => "dialog", :tabindex => "-1"}
              .modal-inner
            .sell-content.sell-btn-box
              %div
                %p
                  %a{:href => "/jp/help_center/getting_started/prohibited_items/", :target => "_blank"} 禁止されている出品
                  、
                  %a{:href => "/jp/help_center/getting_started/prohibited_conduct/", :target => "_blank"} 行為
                  を必ずご確認ください。
                %p
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                  %a{:href => "/jp/help_center/getting_started/counterfeit_goods/", :target => "_blank"} 偽ブランドの販売
                  は犯罪であり処罰される可能性があります。
                %p
                  また、出品をもちまして
                  %a{:href => "/jp/seller_terms/"} 加盟店規約
                  に同意したことになります。
              = f.submit class: "btn-default btn-red", value: "出品する"
              %a.btn-default.btn-gray もどる
          .overlay
  = render 'shared/logo-footer'
