.default-container

  = render 'shared/header'

  %section.search-result-container.clearfix
    %div.search-box
    %div.search-result.clearfix
      %h1.search-result__title 検索結果#{@products.length}件
      - @products.each do |item|
        %div.search-result__item-box
          = link_to product_path(item.id), class: "search-result-image" do
            = image_tag item.product_images.first.image ,class: "search-result-image"
          .search-result__item-box--body
            %h3.search-result__item-box--body-name
              = item.name
            %h3.search-result__item-box--body-price
              ¥
              = number_with_delimiter("#{item.price}")
            .item-details__tax
              (税込み)


  = render 'shared/appbanner'

  = render 'shared/footer'

  = render 'shared/sellbtn'
